*{
    margin: 0;
    padding: 0%;
}

h1{
    text-align: center;
    margin-top: 23px;
  
}
.container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.form{
    width: 25%;
    height: 20px;
    margin: 5px;
}
